
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


@font-face {
    font-family:Daily ;
    src: url('fonts/Daily\ Challenge\ DEMO.otf')format('opentype');
}

*{
    margin: 0;
    padding: 0;
}

*::selection{
    background: rgb(239, 101, 60) ;
    color:#fff;
}

body{
    background-color: #f9f9f9;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

/* header */

header{
    display: flex;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 1px 17px 0px rgb(239, 101, 60);
    position:sticky;
    top: 0;
    z-index: 9;
    background-color:#f9f9f9;
}

.headerDesktop{
    width:100%;
    display:flex;
}

.headerMobile{
    display:none;
    margin-left: 0;
}

.icoMobile{
    width:30px;
    height:40px;
    cursor: pointer;
}

.icoBotao{
    border:none;
    margin-left: 0;
}

.logotipo{
    width: 90px; 
}

.containerNav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}

h1{
    font-size: 35px;
    font-family: Daily;
    color: rgb(254, 68, 0);
    letter-spacing:1.5px;
    margin-left: 30px;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
    text-align: center;
    font-size: 17px;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    padding:3px;
}

a:hover{
    background-color:  rgb(239, 101, 60);
}

.tema{
    display:flex;
    border: 2px solid;
    width: 50px;
    height:30px;
    border-radius: 15px;
    border-color: rgb(254, 68, 0);
    cursor: pointer;
    transition: 0.2s; 
}

.iconTemaMoon{
    margin-left: 7px;
    opacity: 0;
}

/* header ends */

/* dark mode */
.dark .iconTemaMoon{
    opacity: 1;
}

.dark .iconTemaSun{
    opacity: 0;
    transition: 0.2s;
}
.darkBody{
    background-color: #404443;
    color:white;
}

.darkBody .navHeader{
    color: white;
}

.darkBody .containerHeader{
    background-color: #404443;
}
/* dark mode ends*/


/* home */
.containerSection{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.textoOne{
    width:250px;  
}

.textoOne h2{
    font-size: 50px;
    font-family: Daily;
    color: rgb(254, 68, 0);
}

.textoOne p{
    margin-top: 20px;
    text-align: start;
}

.imgDiv{
    margin-left: 100px;
}
.imgOne{
    width:580px;
    animation: zoom 3s;
    transition: transform .3s ease-in-out;
}

.imgOne:hover{
    transform:scale(1.1);  
}
/* home ends*/


/* carousel */

.titleCarousel{
    margin-top: 50px;
    text-align: center;
    color: rgb(254, 68, 0);
}

.img-carousel{
    width: 1200px;
    height: 550px;
    margin: 0 auto;   
}

.carousel{
    width:1295px;
    margin: 0 auto;
    margin-top: 50px;
}

/* carousel ends */

/* media */

.containerRegras{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2{
    width:500px;
    transition: transform .3s ease-in-out;
    margin-right: 25px;
}

.img2:hover{
    transform:scale(1.1);  
}

.textTwo{
    padding:1rem;
    margin-left: 30px;
    width: 400px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-align:left;
    transition: transform .3s ease-in-out;
    
}

.textTwo h2{
    color:rgb(254, 68, 0);
}

.textTwo p{
    
    font-size: 16px ;
    padding: 0 1rem 1rem 1rem;
}

.textTwo:hover{
    background-color: rgba(239, 102, 60, 0.459);
    transform:scale(1.2);
    border-radius: 0 45px 0 45px;  
}

/* media ends */

/* agendamento */

.sectionAgendamento{
    display:flex;
}

.sectionContainer{
    margin: 60px;
}

.divElements{
    padding: 8px;
    margin:10px;
    font-size: 23px;
    
}

.containerElements h2{
    color: rgb(254, 68, 0);
    font-size: 30px;
}

input{
    height: 28px;
    border-radius: 10px;
    /* border: none; */
    border: 1px rgba(0, 0, 0, 0.507) solid ;
}

input:hover{
    background-color:rgba(175, 174, 173, 0.356); 
}

.botaoAgendar{
    width:90px;
    height:40px;
    border: none;
    background-color:rgb(239, 101, 60);
    color: white;
    border-radius:20px;
    cursor: pointer;
    margin-left: 20px;
}

.botaoAgendar:hover{
    background-color:rgb(254, 68, 0);
}

.imgChecklist{
    width: 400px;

}

/*news boxes*/

.titleContainerBox{
    margin-top: 30px;
    text-align: center;
}

.titleContainerBox h2{
    color: rgb(254, 68, 0);
    font-family:Daily;
    font-size: 40px;
    letter-spacing: 1px;
}

.containerBox{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.box{
    width: 350px;
    height: 450px;
    box-shadow: 0px 1px 17px 0px rgb(239, 101, 60);
    margin:20px;
    transition: transform .3s ease-in-out;
}

.box:hover{
    transform:scale(1.2);
}

.imgBox{
    padding:5px;
    width:325px;
    height:260px;
}

.box h2{
    text-align: center;
}

.textBox{
    margin-left: 5px;
    padding:5px;
    font-size: 15px;
}

/*news boxes ends*/

/* footer */

footer{
    background-color: rgb(254, 68, 0);
    width:90%;
    height:98px;
    margin:0 auto;
    border-radius: 0 60px 0 60px;
}

.divFooter{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding:10px;
    
}

.divFooter li{
    font-size:12px;
}

.divFooterItems{
    padding-bottom: 5px;
}

/* footer ends*/

/* Responsivo */

@media screen and (max-width:720px){

    header{
        width:700px;
        display:flex;
        justify-content:left;
    }

    .containerHeader{
        width:690;
    }

    .tema{
        margin-left: 75px;
        
    }

    .iconTemaSun{
        width:25px;
    }

    .headerDesktop{
        width: 0%;
    }

    .navHeader{
        font-size: 15px;
    }

    .containerNav{
        width: 400px;
    }

    .containerSection{
        display:grid;
        width:650px;
    }

    .textoOne{
        width:500px;
        margin-bottom: 30px;
    }

    .imgDiv{
        width: 500px;
        margin:0 auto;
    }

    .imgOne{
        width: 500px;
        
    }

    /* ----------- */
    .sectionCarousel{
        margin-top: 30px;
        width:700px;
        margin:center;
    }

    .titleCarousel{
        margin: 0;
        padding:0;
        margin:center;
    }

    .carousel{
        width:600px;
        margin: center;
    }

    .img-carousel{
        width:530px;
        height: 400px;
        margin:0;
    }
    /* ------------------ */

    .containerRegras{
        display:grid;
    }

    .img2{
        width:400px;
    }

    .textTwo{
        margin-top: 30px;
    }

    .textTwo h2{
        text-align: center;
    }

    .textTwo:hover{
        transform:scale(1.1);
    }

    /* ------------------ */

    .sectionContainer{
         margin-top: 20px;
         display:grid;
         justify-content: center;
    }

    .sectionAgendamento{
       display:grid;
        width:530px;
    }

    .containerElements h2{
        font-size:25px;
        text-align:center;
        
        margin-bottom: 20px;
    }

    .divElements{
        font-size: 15px;
    }

    button{
        margin:center;
    }

    /* ---------------------- */

    .titleContainerBox{
        font-size:25px;
        text-align:center;
    }

    .containerBox{
         display: grid;
    }

    .box{
        margin:25px;
        transition: transform .3s ease-in-out;
    }
    
    .box:hover{
        transform:scale(1.1);
    }

    .textBox{
        font-size:13px;
    }

    /* ------------------ */

    footer{
        width:600px;
        margin:0 auto;
        margin-bottom: 70px;

    }

    .divFooter{
        width:400px;
        margin:0 auto;
    }

    .divFooterItems{
        width:500px;        

    }


}

@media screen and (max-width:375px){

    .containerHeader{
        width:370;
    }

    .headerDesktop{
        display:none;
    }

    .headerMobile{
        display:block;
        justify-content: left;
    }


    .divMenuLogo{
        display:flex;
        align-items: center;
        margin-left: 0px;
    }

    .navHeader{
        margin:0;
    }

    .divTema{
        margin-left: 100px;
    }

    .menuMobile{
        position:absolute;
        display:block;
        width:230px;
        height:300px;
        background-color:#f9f9f9;
        left:-110%;
        top: 80px;
        display:grid;
        justify-content: center;
        transition-duration: 1s;
    }

    .darkBody .menuMobile{
        background-color:#404443;
    }

    .darkBody .icoMobile{
        background-color:#404443;
    }

    .darkBody .icoBotao{
        background-color:#404443;
    }

    /* icone */

    .darkBody .iconTemaMoon{
        opacity: 1;
        z-index: 9;
        color: white;
    }
    
    .darkBody div .iconTemaSun{
        opacity: 0;
        transition: 0.2s;
    }

    .icoMobile{
       display:flex;
       justify-content: left;
    }

    .icoBotao{
        width: 40px;
        background-color: #f9f9f9;
    }

    .logoMobile{
        width: 90px;
        margin-left: 5px;
    }

    .containerSection{
        display:grid;
        justify-content: center;
        width:360px;
        padding:5px;
    }

    .textoOne{
        width:360px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .imgDiv{
        width: 320px;
        margin:0 auto;
    }

    .imgOne{
        width: 300px;
        
    }

    /* ----------- */
    .sectionCarousel{
        margin-top: 30px;
        width:370px;
        margin:center;
    }

    .titleCarousel{
        margin: 0;
        padding:0;
        margin:center;
    }

    .carousel{
        width:350px;
        margin: center;
    }

    .img-carousel{
        width:345px;
        height: 300px;
        margin:0;
    }
    /* ------------------ */

    .containerRegras{
        display:grid;
        
    }

    .divImg2{
        margin: 0 auto;
    }

    .img2{
        width:330px;
        
    }

    .textTwo{
        margin-top: 30px;
        width: 350px;
    }

    .textTwo h2{
        text-align: center;
    }

    .textTwo p{
        
        margin:5px;
    }

    /* ------------------ */

    .sectionContainer{
        margin:0;
        display:grid;
    }

    .sectionAgendamento{
        margin:0 auto;
        width:96%;
        display:grid;

    }

    .containerElements{
        width:355px;
    }

    .containerElements h2{
        padding:5px;
    }

    .divElements{
        width:360px;
    }

    /* ---------------------- */

    .box{
        width: 330px;
        height: 390px;
        margin:20px;
        
    }

    .imgBox{
        height:200px;
        width:290px;
        padding:8px;
    }

    .textBox{
        padding:5px;
        text-align:center;
    }


    /* ------------------ */

    footer{
        width:375px;
        height:100px;
        margin:0 auto;
        margin-bottom:0px;
        border-radius:inherit;
    }

    .divFooter{
        margin:0 auto;
        width:370px;
    }

    .divFooterItems{
        font-size:10px;
        
    }


}
